@{
    ViewData["Title"] = "Aprobación de Acuerdos";
}

@{
    // Viene del ViewBag que llenamos en el controlador
    var usuarioActual = ViewBag.UsuarioActual as string;
}

@section Scripts {
    <script>
        // Variable global con el usuario logueado
        window.usuarioActual = '@usuarioActual';
    </script>
    <script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <script src="~/js/Acuerdo/AprobarAcuerdo.js" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
}

<h2>Aprobación - Acuerdos</h2>
<hr>

<link rel="stylesheet" href="~/css/datatables.css" asp-append-version="true" />

<div class="table-responsive">
    <div id="tabla">
    </div>
</div>