@{
    ViewData["Title"] = "Creación de Acuerdos";
}

@{
    // Viene del ViewBag que llenamos en el controlador
    var usuarioActual = ViewBag.UsuarioActual as string;
}

@section Scripts {
    <script>
        // Variable global con el usuario logueado
        window.usuarioActual = '@usuarioActual';
    </script>
    <script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.3/i18n/datepicker-es.js"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>

    <script src="~/js/Acuerdo/CrearAcuerdo.js" asp-append-version="true"></script>

    <style>
        .ui-datepicker {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 0.9rem; /* Tamaño de letra más acorde */
            z-index: 1056 !important; /* Asegura que se muestre sobre otros elementos (como modales si los usaras) */
        }
        /* Para que el check de la tabla se vea bien */
        #tablaProveedores img {
            height: 1.2em;
        }
    </style>

    <script>
        $(document).ready(function () {
            // 1. Cargar la configuración regional en español
            $.datepicker.setDefaults($.datepicker.regional['es']);

            // 2. Inicializa los datepickers
            $("#acuerdoFechaInicio, #acuerdoFechaFin").datepicker({
                dateFormat: "dd/mm/yy", // Formato que coincide con tu placeholder
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true, // Muestra el panel de botones
                beforeShow: function(input, inst) {
                    setTimeout(function() {
                        let buttonPane = $(inst.dpDiv).find(".ui-datepicker-buttonpane");

                        // 1. Cambiar el texto del botón "Done" (Cerrar) a "Borrar"
                        let doneButton = buttonPane.find(".ui-datepicker-close");
                        doneButton.text("Borrar");

                        // 2. Reasignar el evento 'click' del botón "Borrar" para que limpie el campo
                        doneButton.off("click").on("click", function () {
                            $(input).val("");
                            $.datepicker._hideDatepicker();
                        });

                        // 3. Asegurarse que el botón "Hoy" esté correcto
                        let todayButton = buttonPane.find(".ui-datepicker-current");
                        todayButton.text("Hoy");

                    }, 1);
                }
            });

            // 3. Asigna el clic del *botón* para que abra el datepicker del *input*
            $("#btnFechaInicio").on("click", function () {
                $("#acuerdoFechaInicio").datepicker("show");
            });

            $("#btnFechaFin").on("click", function () {
                $("#acuerdoFechaFin").datepicker("show");
            });

            // 4. Lógica para mostrar/ocultar secciones según el Tipo de Acuerdo
            function mostrarAcuerdoForm() {
                const tipo = $("#acuerdoTipo").val();
                $("#acuerdoFormGeneral").hide();
                $("#acuerdoFormItems").hide();

                if (tipo === "General") {
                    $("#acuerdoFormGeneral").show();
                } else if (tipo === "ConArticulos") {
                    $("#acuerdoFormItems").show();
                }
            }

            // Inicializa mostrando el formulario General (o el que sea el valor inicial)
            mostrarAcuerdoForm();

            // Asigna el evento de cambio al select
            $("#acuerdoTipo").on("change", mostrarAcuerdoForm);
        });
    </script>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-1 mb-2 border-bottom">
    <h1 class="h4">Acuerdos - Creación</h1>
</div>

<form class="row g-1 mb-3 pb-1 border-bottom">
    <div class="col-md-3">
        <label for="acuerdoTipo" class="form-label fw-bold col-form-label-sm">Tipo de Acuerdo</label>
        <select id="acuerdoTipo" class="form-select form-select-sm">
            <option value="General" selected>General</option>
            <option value="ConArticulos">Con Artículos</option>
        </select>
    </div>
</form>

<div id="acuerdoFormGeneral" class="p-0">

    <h5 class="fw-semibold text-primary">Detalles del Acuerdo General</h5>

    <form class="row g-1 mb-1 pb-1">

        <div class="col-md-3">
            <label for="acuerdoProveedor" class="form-label fw-bold col-form-label-sm">Proveedor</label>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="acuerdoProveedor" value="Seleccione..." readonly>
                <button class="btn btn-outline-secondary" type="button" id="btnBuscarProveedorModal" data-bs-toggle="modal" data-bs-target="#modalConsultaProveedor">
                    <img src="~/img/ico/search.svg" alt="Buscar">
                </button>
            </div>
            <input type="hidden" id="acuerdoProveedorId">
        </div>
        <div class="col-md-3">
            <label for="acuerdoDescripcion" class="form-label fw-bold col-form-label-sm">Descripción</label>
            <input type="text" class="form-control form-control-sm" id="acuerdoDescripcion" placeholder="Ingrese Descripción">
        </div>
        <div class="col-md-2">
            <label for="acuerdoFechaInicio" class="form-label fw-bold col-form-label-sm">Fecha Inicio</label>
            <div class="input-group input-group-sm">
                <input id="acuerdoFechaInicio" type="text" class="form-control form-control-sm" placeholder="dd/mm/aaaa">
                <button class="btn btn-outline-secondary" type="button" id="btnFechaInicio">
                    <img src="~/img/ico/calendar2-week.svg" alt="Calendario">
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <label for="acuerdoFechaFin" class="form-label fw-bold col-form-label-sm">Fecha Fin</label>
            <div class="input-group input-group-sm">
                <input id="acuerdoFechaFin" type="text" class="form-control form-control-sm" placeholder="dd/mm/aaaa">
                <button class="btn btn-outline-secondary" type="button" id="btnFechaFin">
                    <img src="~/img/ico/calendar2-week.svg" alt="Calendario">
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <label for="acuerdoValorTotal" class="form-label fw-bold col-form-label-sm">$ Valor Total</label>
            <input type="text" class="form-control form-control-sm text-end" id="acuerdoValorTotal" placeholder="$ 0,00">
        </div>


        <hr class="mt-1 mb-1">
        <div class="col-12">
            <button type="button" class="btn btn-primary" id="btnGuardarAcuerdoGeneral">Grabar Acuerdo General</button>
        </div>
    </form>
</div>

<div id="acuerdoFormItems" style="display:none;" class="p-0">

    <h5 class="fw-semibold text-danger">Detalles del Acuerdo por Artículos (Items)</h5>

    <form class="row g-1 mb-1 pb-1">
        <div class="col-md-12">
            <p>Aquí irá el formulario de creación de acuerdo por artículos (diferente al de Fondos).</p>
            <button type="button" class="btn btn-danger" id="btnGuardarAcuerdoItems">Grabar Acuerdo por Artículos</button>
        </div>
    </form>
</div>


<div class="modal fade" id="modalConsultaProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConsultaProveedorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xxl">
        <div class="modal-content" style="height: 90vh; max-height: 90vh;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalConsultaProveedorLabel">Consulta de Proveedores</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex flex-column" style="height: calc(90vh - 120px);">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="fw-semibold">Seleccione un Proveedor</span>
                    <input type="text" class="form-control form-control-sm" placeholder="Buscar..." style="width: 250px;">
                </div>

                <div class="table-responsive flex-grow-1 border rounded" style="overflow-y: auto;">
                    <table id="tablaProveedores" class="table table-hover table-sm table-bordered mb-0">
                        <thead class="table-success sticky-top">
                            <tr class="text-nowrap">
                                <th scope="col" class="text-center align-middle" style="min-width: 110px;">Seleccionar</th>
                                <th scope="col" class="align-middle" style="min-width: 80px;">Código</th>
                                <th scope="col" class="align-middle" style="min-width: 130px;">RUC</th>
                                <th scope="col" class="align-middle" style="min-width: 200px;">Nombre Proveedor</th>
                                <th scope="col" class="align-middle" style="min-width: 150px;">Contacto</th>
                                <th scope="col" class="align-middle" style="min-width: 200px;">Mail</th>
                                <th scope="col" class="align-middle" style="min-width: 130px;">Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Navegación de páginas" class="mt-2">
                    <ul class="pagination pagination-sm justify-content-center mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnAceptarProveedor">Aceptar</button>
            </div>
        </div>
    </div>
</div>