@{
    ViewData["Title"] = "Aprobación de Fondos";
}

<h2>Aprobación - Fondo</h2>
<hr>

<link rel="stylesheet" href="~/css/datatables.css" asp-append-version="true" />

<div class="table-responsive" class="text-center">
    <div id="tabla">
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <script src="~/js/Fondo/AprobarFondo.js" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
}

<!-- Modal para Visualizar Fondo -->
<div class="modal fade" id="modalEditarFondo" tabindex="-1" aria-labelledby="modalEditarFondoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 90vw; max-width: 90vw;">
        <div class="modal-content d-flex flex-column" style="height: 90vh; max-height: 90vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarFondoLabel">Visualizar Datos de Fondo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="overflow-y: auto;">

                <form id="formEditarFondo" class="row gx-1 gy-0">

                    <div class="col-md-2 mb-0">
                        <label for="modal-fondo-tipofondo" class="form-label fw-bold col-form-label-sm">Tipo Fondo</label>
                        <input type="text" class="form-control form-control-sm" id="modal-fondo-tipofondo" name="tipo_fondo" disabled>
                    </div>
                    <div class="col-md-3 mb-0">
                        <label for="modal-fondo-proveedor" class="form-label fw-bold col-form-label-sm">Proveedor</label>
                        <input type="text" class="form-control form-control-sm" id="modal-fondo-proveedor" name="proveedor" disabled>
                    </div>
                    <div class="col-md-3 mb-0">
                        <label for="modal-fondo-descripcion" class="form-label fw-bold col-form-label-sm">Descripción</label>
                        <input type="text" class="form-control form-control-sm" id="modal-fondo-descripcion" name="descripcion" disabled>
                    </div>
                    <div class="col-md-2 mb-0">
                        <label for="modal-fondo-fechainicio" class="form-label fw-bold col-form-label-sm">Fecha Inicio</label>
                        <input type="text" class="form-control form-control-sm" id="modal-fondo-fechainicio" name="fecha_inicio" disabled>
                    </div>
                    <div class="col-md-2 mb-0">
                        <label for="modal-fondo-fechafin" class="form-label fw-bold col-form-label-sm">Fecha Fin</label>
                        <input type="text" class="form-control form-control-sm" id="modal-fondo-fechafin" name="fecha_fin" disabled>
                    </div>

                    <div class="col-md-3 mt-0">
                        <label for="modal-fondo-valor" class="form-label fw-bold col-form-label-sm">$ Valor Total</label>
                        <input type="text" class="form-control form-control-sm text-end" id="modal-fondo-valor" name="valor_fondo" disabled>
                    </div>
                    <div class="col-md-3 mt-0">
                        <label for="modal-fondo-disponible" class="form-label fw-bold col-form-label-sm">$ Disponible</label>
                        <input type="text" class="form-control form-control-sm text-end" id="modal-fondo-disponible" value="$ 0,00" disabled>
                    </div>
                    <div class="col-md-3 mt-0">
                        <label for="modal-fondo-comprometido" class="form-label fw-bold col-form-label-sm">$ Comprometido</label>
                        <input type="text" class="form-control form-control-sm text-end" id="modal-fondo-comprometido" value="$ 0.00" disabled>
                    </div>
                    <div class="col-md-3 mt-0">
                        <label for="modal-fondo-liquidado" class="form-label fw-bold col-form-label-sm">$ Liquidado</label>
                        <input type="text" class="form-control form-control-sm text-end" id="modal-fondo-liquidado" value="$ 0.00" disabled>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>