@{
    ViewData["Title"] = "Configuracion Parametrizacion";
    var usuarioActual = ViewBag.UsuarioActual as string;
}

@section Scripts {
    <script>window.usuarioActual = '@usuarioActual';</script>
    <script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/i18n/datepicker-es.js"></script>
    <script src="~/js/datatables.min.js" asp-append-version="true"></script>
    <script src="~/js/Parametrizacion/Configuracion.js" asp-append-version="true"></script>
}

<link rel="stylesheet" href="~/css/datatables.css" asp-append-version="true" />

<!-- Mantenimiento de Parametro -->
<div class="row p-0 m-0">
	<div class="col-3">
		<div class="row">
			<p class="fs-4 fw-semibold mx-0 px-0">Configuración</p>
		</div>
								
		<div class="row">
			<div class="list-group list-group-flush" id="list-tab" role="tablist">

				<!--
				<a class="list-group-item list-group-item-action border-0 active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"><i class="fa-regular fa-house"></i> Grupos Almacenes</a>
				<a class="list-group-item list-group-item-action border-0" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><i class="fa-regular fa-credit-card"></i> Medios de Pagos</a>
				<a class="list-group-item list-group-item-action border-0" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages"><i class="fa-solid fa-wallet"></i> Aportes por Marcas</a>
				<a class="list-group-item list-group-item-action border-0" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings"><i class="fa-solid fa-wallet"></i> Aportes por Marca y Proveedor</a>
				<a class="list-group-item list-group-item-action border-0" id="list-aporte-propio-articulo-list" data-bs-toggle="list" href="#list-aporte-propio-articulo" role="tab" aria-controls="list-aporte-propio-articulo"><i class="fa-solid fa-wallet"></i> Aportes Propios por Artículos</a>
				<a class="list-group-item list-group-item-action border-0" id="list-precio-competencia-list" data-bs-toggle="list" href="#list-precio-competencia" role="tab" aria-controls="list-precio-competencia"><i class="fa-solid fa-tag"></i> Precios de la Competencia</a>
									
				<a class="list-group-item list-group-item-action border-0" id="list-margen-minimo-articulo-list" data-bs-toggle="list" href="#list-margen-minimo-articulo" role="tab" aria-controls="list-margen-minimo-articulo"><i class="fa-solid fa-tag"></i> Margen Mínimo por Artículo</a>
				<a class="list-group-item list-group-item-action border-0" id="list-porcentaje-incremento-precios-list" data-bs-toggle="list" href="#list-porcentaje-incremento-precios" role="tab" aria-controls="list-porcentaje-incremento-precios"><i class="fa-solid fa-tag"></i> Porcentaje de Incremento Precios </a>
				<a class="list-group-item list-group-item-action border-0" id="list-otros-costos-articulo-list" data-bs-toggle="list" href="#list-otros-costos-articulo" role="tab" aria-controls="list-otros-costos-articulo"><i class="fa-solid fa-tag"></i> Otros Costos por Artículo</a>
					-->
									  
									  
			</div>
		</div>
	</div>
							  
	<div class="col-9 border-start">
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
										
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							Configuración de Grupos de Almacenes
						</div>
					</div>
					<div class="">
																								
								
						<div class="row">
													
							<div class="col-5 mx-0 my-2">
												
								<div class="table-responsive" style="height: 350px">
									<table class="table table-hover table-bordered">
										<caption class="caption-top  text-end px-3 border">Buscar...</caption>
										<thead class="text-white text-nowrap">
											<tr class="text-center">
																		
												<th scope="col" class="table-dark text-center align-middle" style="">Grupos Almacenes</th>
												<th scope="col" class="table-dark d-flex justify-content-between align-items-center" style="">
													Acción
													<div class="dropdown">
														<button class="btn btn-dark  dropdown-toggle btn-sm border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
														</button>
														<ul class="dropdown-menu">
															<li data-bs-toggle="modal" data-bs-target="#modalNuevoGrupo"><a class="dropdown-item" href="#" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i> Añadir Grupo</a></li>
														</ul>
													</div>
												</th>
											</tr>
										</thead>
										<tbody class="text-nowrap" id="tbody-grupo-almacen">
													
											<!--
											<tr>
																		
												<td class="align-middle">Grupo Norte Artefacta</td>
												<td class="align-middle">
													<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
														<div class="btn-group btn-group-sm" role="group" aria-label="First group">
															<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificarGrupo" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
															<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarGrupo" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
														</div>
													</div>
												</td>
											</tr>
											<tr>
																		
												<td class="align-middle">Nombre Grupo Almacen</td>
												<td class="align-middle">
													<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
														<div class="btn-group btn-group-sm" role="group" aria-label="First group">
															<button type="button" class="btn-action edit-btn" title="Modificar" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
															<button type="button" class="btn-action edit-btn" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
														</div>
													</div>
												</td>
											</tr>
											-->
											
																	
										</tbody>
									</table>
								</div>
													
							</div>
												
							<div class="col-7 mx-0 my-2">
													
																	
								<div class="table-responsive" style="height: 350px; overflow-y: auto;">
									<table class="table table-hover table-bordered ">
										<caption id="caption-almacen-grupo" class="caption-top  text-center px-3 border">
											Almacenes Asignados a
											</caption>
										<thead class="text-white text-nowrap">
											<tr class="text-center">
																					
												<th scope="col" class="table-dark text-center align-middle" style="">Almacen</th>
												<th scope="col" class="table-dark d-flex justify-content-between align-items-center" style="">
													Acción
													<div class="dropdown">
														<button class="btn btn-dark  dropdown-toggle btn-sm border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
														</button>
														<ul class="dropdown-menu">
															<li data-bs-toggle="modal" data-bs-target="#modalNuevoAlmacen"><a class="dropdown-item" href="#" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i> Añadir Almacen</a></li>
														</ul>
													</div>
												</th>
											</tr>
										</thead>
										<tbody id="tbody-almacenes-asignados" class="text-nowrap">
													
											<!--
											<tr>
																					
												<td class="align-middle">Mall del Sol</td>
												<td class="align-middle">
													<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
														<div class="btn-group btn-group-sm" role="group" aria-label="First group">
															<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarAlmacen" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
														</div>
													</div>
												</td>
											</tr>
																				
											<tr>
																			
												<td class="align-middle">Riocentro Norte</td>
												<td class="align-middle">
													<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
														<div class="btn-group btn-group-sm" role="group" aria-label="First group">
															<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarAlmacen" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
														</div>
													</div>
												</td>
											</tr>
													-->

																				
																	
																				
										</tbody>
									</table>
								</div>
																
														
							</div>
													
													
						</div>
										  
					</div>
				</div>
									  						  								  								  
			</div>
								  
			<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							Configuración de Medios de Pagos
						</div>
					</div>
																																								
					<div class="row">
																
						<div class="table-responsive d-flex justify-content-center" style="height: 450px">
							<table class="table table-hover table-bordered w-75">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="text-center">
																
										<th class="table-dark text-center align-middle">Medios de Pagos</th>
										<th class="table-dark d-flex justify-content-center">
											Acción
											<div class="dropdown">
												<button class="btn btn-dark  dropdown-toggle btn-sm border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"> </button>
												<ul class="dropdown-menu">
													<li data-bs-toggle="modal" data-bs-target="#modalNuevoMedioPago"><a class="dropdown-item" href="#" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i> Añadir Medio Pago</a></li>
												</ul>
											</div>
										</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
														
									<tr class="m-0 p-0">
																
										<td class="align-middle">Visa Platinium Banco Pichincha</td>
										<td class="">
																	
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificaMedioPago" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminaMedioPago" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
																	
										</td>
									</tr>
									<tr>
																
										<td class="align-middle">Efectivo</td>
										<td class="">
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" title="Modificar" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
																
										<td class="align-middle">Credito Propio</td>
										<td class="">
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" title="Modificar" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
																
										<td class="align-middle">Mastercard Pacificard</td>
										<td class="">
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" title="Modificar" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-middle">Diners Club</td>
										<td class="">
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" title="Modificar" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-middle">American Expres Banco Guayaquil</td>
										<td class="">
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" title="Modificar" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
										</td>
									</tr>
															
												
															
								</tbody>
							</table>
						</div>
											
					</div>
				</div>
			</div>
								  
			<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							No. máximo de Aportes permitidos por Marca
						</div>
					</div>
																																								
					<div class="row">
																
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 75%;">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
																
										<th class="table-primary text-center align-middle" style="width: 55%;">Marca</th>
										<th class="table-primary text-center align-middle" style="width: 20%;">No. Aportes</th>
										<th class="table-primary text-center align-middle" style="width: 25%;">
											Acción
																 
											<button type="button" class="btn btn-outline-light border-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalNuevoAporteMarca" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i></button>
																		  		
																
																
																					
										</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
														
									<tr class="m-0 p-0">
																
										<td class="align-middle">SONY</td>
										<td class="align-middle">2</td>
										<td class="">
																	
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificarAporteMarca" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarAporteMarca" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
																	
										</td>
									</tr>
															
															
												
															
								</tbody>
							</table>
						</div>
											
					</div>
				</div>
			</div>
								  
			<div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							No. máximo de Aportes permitidos por Proveedor/Marca
						</div>
					</div>
																																								
					<div class="row">
																
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
										<th class="table-primary text-center align-middle" style="width: 50%;">Proveedor</th>
										<th class="table-primary text-center align-middle" style="width: 20%;">Marca</th>
										<th class="table-primary text-center align-middle" style="width: 15%;">No. Aportes</th>
										<th class="table-primary text-center align-middle" style="width: 15%;">
											Acción
																 
											<button type="button" class="btn btn-outline-light border-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalNuevoAporteMarcaProveedor" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i></button>
																		  		
																
																
																					
										</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
														
									<tr class="m-0 p-0">
																
										<td class="align-middle">0190007510001-ALMACENES JUAN ELJURI CIA. LTDA</td>
										<td class="align-middle">SONY</td>
										<td class="align-middle">2</td>
										<td class="">
																	
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificarAporteMarcaProveedor" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarAporteMarcaProveedor" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
																	
										</td>
									</tr>
															
															
												
															
								</tbody>
							</table>
						</div>
											
					</div>
				</div>
								  
								  
			</div>
								  
			<div class="tab-pane fade" id="list-aporte-propio-articulo" role="tabpanel" aria-labelledby="list-aporte-propio-articulo-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							No. máximo de Aportes Propios Permitidos por Articulo
						</div>
					</div>
																																								
					<div class="row">
																
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
																
										<th class="table-primary text-center align-middle" style="width: 70%;">Artículo</th>
										<th class="table-primary text-center align-middle" style="width: 15%;">No. Aportes</th>
										<th class="table-primary text-center align-middle" style="width: 15%;">
											Acción
											<button type="button" class="btn btn-outline-light border-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalNuevoAportePropioArticulo" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i></button>
										</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
														
									<tr class="m-0 p-0">
																
										<td class="align-middle">10203040-TV 65 Pulgadas Smart SONY 4k</td>
										<td class="align-middle">2</td>
										<td class="">
																	
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificarAportePropioArticulo" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarAportePropioArticulo" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
																	
										</td>
									</tr>
															
															
												
															
								</tbody>
							</table>
						</div>
											
					</div>
				</div>
			</div>
								  
			<div class="tab-pane fade" id="list-precio-competencia" role="tabpanel" aria-labelledby="list-precio-competencia-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							Precios de la Competencia por Articulo
						</div>
					</div>
																																								
					<div class="row">
																
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
																
										<th class="table-primary text-center align-middle" style="width: 40%;">Artículo</th>
										<th class="table-primary text-center align-middle" style="width: 30%;">Nombre Competencia</th>
										<th class="table-primary text-center align-middle" style="width: 15%;">Precio Contado</th>
										<th class="table-primary text-center align-middle" style="width: 15%;">
											Acción
											<button type="button" class="btn btn-outline-light border-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalNuevoPrecioCompetenciaArticulo" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i></button>
										</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
														
									<tr class="m-0 p-0">
																
										<td class="align-middle">10203040-TV 65 Pulgadas Smart SONY 4k</td>
										<td class="align-middle">COMANDATO</td>
										<td class="align-middle">1,547.46</td>
										<td class="">
																	
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificarPrecioCompetenciaArticulo" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarPrecioCompetenciaArticulo" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
																	
										</td>
									</tr>
															
															
												
															
								</tbody>
							</table>
						</div>
											
					</div>
				</div>
			</div>
								  
			<div class="tab-pane fade" id="list-margen-minimo-articulo" role="tabpanel" aria-labelledby="list-margen-minimo-articulo-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							Margen Mínimo por Articulo
						</div>
					</div>
																																								
					<div class="row">
																
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
																
										<th class="table-primary text-center align-middle" style="width: 40%;">Artículo</th>
										<th class="table-primary text-center align-middle" style="width: 12%;">% Contado</th>
										<th class="table-primary text-center align-middle" style="width: 12%;">% Tarj.Cr</th>
										<th class="table-primary text-center align-middle" style="width: 12%;">% Crédito</th>
										<th class="table-primary text-center align-middle" style="width: 12%;">% Igualar</th>
										<th class="table-primary text-center align-middle" style="width: 12%;">
											Acción
											<button type="button" class="btn btn-outline-light border-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalNuevoMargenMinimoArticulo" style="border:none; background:none; color:black"><i class="fa-regular fa-square-plus"></i></button>
										</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
														
									<tr class="m-0 p-0">
																
										<td class="align-middle">10203040-TV 65 Pulgadas Smart SONY 4k</td>
										<td class="align-middle">2.62 %</td>
										<td class="align-middle">3.00 %</td>
										<td class="align-middle">2.50 %</td>
										<td class="align-middle">2.15 %</td>
										<td class="">
																	
											<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
												<div class="btn-group btn-group-sm" role="group" aria-label="First group">
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalModificarMargenMinimoArticulo" style="border:none; background:none; color:#0d6efd;"><i class="fa-regular fa-pen-to-square"></i></button>
													<button type="button" class="btn-action edit-btn" data-bs-toggle="modal" data-bs-target="#modalEliminarMargenMinimoArticulo" style="border:none; background:none; color:red"><i class="fa-solid fa-trash"></i></button>
												</div>
											</div>
																	
										</td>
									</tr>
															
															
												
															
								</tbody>
							</table>
						</div>
											
					</div>
				</div>
			</div>
								  
			<div class="tab-pane fade" id="list-porcentaje-incremento-precios" role="tabpanel" aria-labelledby="list-porcentaje-incremento-precios-list">
				<div class="col-12  mt-1">
					<div class="row">
						<div class="col-12 mb-2 fw-semibold fs-5 border-bottom">
							Porcentaje de Incremento para Precios de Artículos
						</div>
					</div>
					<br />
					<br />
																																			
					<form class="row g-1 justify-content-center align-items-center ">
									  
						<!-- linea 1 -->
												
														
												
						<div class="col-md-2 text-center">
							<label for="inputMargenContado" class="form-label fw-bold  ">% Con Tarj.Cr</label>
							<input type="text" class="form-control " id="inputMargenContado" placeholder="99.99 %" value="">
						</div>
												
						<div class="col-md-2 text-center">
							<label for="inputMargenCredito" class="form-label fw-bold  ">% Con Crédito</label>
							<input type="text" class="form-control " id="inputMargenCredito" placeholder="99.99 %" value="">
						</div>

												

																								
												
					</form>
					<div class="row m-4 border-top justify-content-center">
						<div class="col-auto">
							<button type="submit" class="btn btn-primary m-2">Grabar</button>
							<button type="submit" class="btn btn-secondary m-2">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
								  
			<div class="tab-pane fade" id="list-otros-costos-articulo" role="tabpanel" aria-labelledby="list-otros-costos-articulo">Otros Costos</div>
								  
								
								
								
								
		</div>
	</div>
</div>


<!--MODALES PARA AGREGAR-->

<!-- Modal Añadir Grupo de Almacenes-->
<div class="modal fade" id="modalNuevoGrupo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir Grupo de Almacen</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="inputDescripcion" class="form-label fw-bold  ">Nombre del Grupo</label>
						<input type="text" class="form-control " id="inputDescripcion" placeholder="Ingrese Nombre">
					</div>
	  
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>


<!-- Modal Asignar nuevo almacen al Grupo-->
<div class="modal fade" id="modalNuevoAlmacen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Asignar Almacen al Grupo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<!-- Selector de tipo de Promocion -->
				<div class="row g-1 border-bottom">
					<div class="col">
						<div class="input-group input-group-sm mb-1">
							<label class="input-group-text" for="inputGroupSelectGrupo">Almacen</label>
							<select class="form-select" id="inputGroupSelectGrupo">
								<option value="1">Riocentro Sur</option>
								<option value="2">La Prosperina</option>
								<option value="3">Duran</option>
							</select>
						</div>
					</div>
				</div>
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>


<!-- Modal Añadir Medio Pago-->
<div class="modal fade" id="modalNuevoMedioPago" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir MedioPago</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="inputDescripcion" class="form-label fw-bold  ">Nombre Medio Pago</label>
						<input type="text" class="form-control " id="inputDescripcion" placeholder="Ingrese Nombre">
					</div>
	  
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>


<!-- Modal Anadir nuevo nuevo aporte marca-->
<div class="modal fade" id="modalNuevoAporteMarca" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Aporte por Marca</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-8 text-center">
						<label for="inputGroupSelectMarca" class="form-label fw-bold  ">Marca</label>
						<select class="form-select" id="inputGroupSelectMarca">
							<option value="1" selected>SONY</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
					<div class="col-md-4 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No.Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>


<!-- Modal Anadir nuevo nuevo aporte Marca/Proveedor-->
<div class="modal fade" id="modalNuevoAporteMarcaProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Aporte por Marca/Proveedor</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-4 text-center">
						<label for="inputGroupSelectMarca" class="form-label fw-bold  ">Marca</label>
						<select class="form-select" id="inputGroupSelectMarca">
							<option value="1" selected>SONY</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
							  
					<div class="col-md-6 text-center">
						<label for="inputGroupSelectProveedor" class="form-label fw-bold  ">Proveedor</label>
						<select class="form-select" id="inputGroupSelectproveedor">
							<option value="09190007510001" selected>ALMACENES JUAN ELJURI CIA. LTDA</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No.Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Anadir nuevo aporte propio por articulo-->
<div class="modal fade" id="modalNuevoAportePropioArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Aporte Propio por Articulo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="datosarticulos" class="form-label fw-bold  ">Artículos</label>
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;" id="datosarticulos">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
													
										<th class="table-primary text-center align-middle" style="width: 15%;">Codigo</th>
										<th class="table-primary text-center align-middle" style="width: 70%;">Nombre Artículo</th>
										<th class="table-primary text-center align-middle" style="width: 15%;"> Acción</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
											
									<tr class="m-0 p-0">
										<td class="align-middle">10203040</td>
										<td class="align-middle">TV 65 Pulgadas Smart SONY 4k</td>
										<td class="">
											<div>
												<input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
											</div>
										</td>
									</tr>
									<tr class="m-0 p-0">
										<td class="align-middle">52608488</td>
										<td class="align-middle">CONGELADOR SAMSUMG</td>
										<td class="">
											<div>
												<input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value="" aria-label="...">
											</div>
										</td>
									</tr>
												
									
												
								</tbody>
							</table>
						</div>
								
							  
					</div>
									  
									  
					<!-- linea 2 -->
					<div class="col-md-10 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="Ingrese No. Aporte" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No. Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>


<!-- Modal Anadir nuevo precio de competencia por articulo-->
<div class="modal fade" id="modalNuevoPrecioCompetenciaArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Precio de la Competencia</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="datosarticulos" class="form-label fw-bold  ">Artículos</label>
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;" id="datosarticulos">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
													
										<th class="table-primary text-center align-middle" style="width: 15%;">Codigo</th>
										<th class="table-primary text-center align-middle" style="width: 70%;">Nombre Artículo</th>
										<th class="table-primary text-center align-middle" style="width: 15%;"> Acción</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
											
									<tr class="m-0 p-0">
										<td class="align-middle">10203040</td>
										<td class="align-middle">TV 65 Pulgadas Smart SONY 4k</td>
										<td class="">
											<div>
												<input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
											</div>
										</td>
									</tr>
									<tr class="m-0 p-0">
										<td class="align-middle">52608488</td>
										<td class="align-middle">CONGELADOR SAMSUMG</td>
										<td class="">
											<div>
												<input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value="" aria-label="...">
											</div>
										</td>
									</tr>
												
									
												
								</tbody>
							</table>
						</div>
								
							  
					</div>
									  
									  
					<!-- linea 2 -->
					<div class="col-md-6 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="Ingrese No. Aporte" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-4 text-center">
						<label for="inputCompetencia" class="form-label fw-bold  ">Nombre Competencia</label>
						<input type="text" class="form-control " id="inputCompetencia" placeholder="Ingrese Nombre de la Competencia" value="">
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">Precio Contado</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="9,999.99" value="">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Anadir nuevo Margen Minimo por articulo-->
<div class="modal fade" id="modalNuevoMargenMinimoArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Margen Minimo por articulo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="datosarticulos" class="form-label fw-bold  ">Artículos</label>
						<div class="table-responsive d-flex justify-content-center">
							<table class="table table-hover table-bordered" style="table-layout: fixed; width: 100%;" id="datosarticulos">
								<caption class="caption-top  text-end px-3 border">Buscar...</caption>
								<thead class="text-white text-nowrap">
									<tr class="">
													
										<th class="table-primary text-center align-middle" style="width: 15%;">Codigo</th>
										<th class="table-primary text-center align-middle" style="width: 70%;">Nombre Artículo</th>
										<th class="table-primary text-center align-middle" style="width: 15%;"> Acción</th>
									</tr>
								</thead>
								<tbody class="text-nowrap">
											
									<tr class="m-0 p-0">
										<td class="align-middle">10203040</td>
										<td class="align-middle">TV 65 Pulgadas Smart SONY 4k</td>
										<td class="">
											<div>
												<input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
											</div>
										</td>
									</tr>
									<tr class="m-0 p-0">
										<td class="align-middle">52608488</td>
										<td class="align-middle">CONGELADOR SAMSUMG</td>
										<td class="">
											<div>
												<input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value="" aria-label="...">
											</div>
										</td>
									</tr>
												
									
												
								</tbody>
							</table>
						</div>
								
							  
					</div>
									  
									  
					<!-- linea 2 -->
					<div class="col-md-4 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputMargenContado" class="form-label fw-bold  ">% Contado</label>
						<input type="text" class="form-control " id="inputMargenContado" placeholder="99.99 %" value="">
					</div>
					<div class="col-md-2 text-center">
						<label for="inputMargenTC" class="form-label fw-bold  ">% Tarj.Cr</label>
						<input type="text" class="form-control " id="inputMargenTC" placeholder="99.99 %" value="">
					</div>
	  
					<div class="col-md-2 text-center">
						<label for="inputMargenCredito" class="form-label fw-bold  ">% Crédito</label>
						<input type="text" class="form-control " id="inputMargenCredito" placeholder="99.99 %" value="">
					</div>

					<div class="col-md-2 text-center">
						<label for="inputMargenIgualar" class="form-label fw-bold  ">% Igualar</label>
						<input type="text" class="form-control " id="inputMargenTC" placeholder="99.99 %" value="">
					</div>

				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!--MODALES PARA MODIFICAR-->
<!-- Modal Modificar Grupo de Almacenes-->
<div class="modal fade" id="modalModificarGrupo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Grupo de Almacen</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="inputDescripcion" class="form-label fw-bold  ">Nombre del Grupo</label>
						<input type="text" class="form-control " id="inputDescripcion" placeholder="Ingrese Nombre" value="Grupo Norte Artefacta">
					</div>
	  
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal modificar Medio Pago-->
<div class="modal fade" id="modalModificaMedioPago" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar MedioPago</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="inputDescripcion" class="form-label fw-bold  ">Nombre Medio Pago</label>
						<input type="text" class="form-control " id="inputDescripcion" placeholder="Ingrese Nombre">
					</div>
	  
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Modificar aporte marca-->
<div class="modal fade" id="modalModificarAporteMarca" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Aporte por Marca</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-8 text-center">
						<label for="inputGroupSelectMarca" class="form-label fw-bold  ">Marca</label>
						<select class="form-select" id="inputGroupSelectMarca" disabled>
							<option value="1" selected>SONY</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
					<div class="col-md-4 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No.Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Modificar aporte Marca/Proveedor-->
<div class="modal fade" id="modalModificarAporteMarcaProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Aporte por Marca/Proveedor</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-4 text-center">
						<label for="inputGroupSelectMarca" class="form-label fw-bold  ">Marca</label>
						<select class="form-select" id="inputGroupSelectMarca" disabled>
							<option value="1" selected>SONY</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
							  
					<div class="col-md-6 text-center">
						<label for="inputGroupSelectProveedor" class="form-label fw-bold  ">Proveedor</label>
						<select class="form-select" id="inputGroupSelectproveedor" disabled>
							<option value="09190007510001" selected>ALMACENES JUAN ELJURI CIA. LTDA</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No.Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Modificar aporte propio por articulo-->
<div class="modal fade" id="modalModificarAportePropioArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Aporte Propio por Articulo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
							 
									  
					<!-- linea 1 -->
					<div class="col-md-10 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="Ingrese No. Aporte" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No. Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Modificar precio de competencia por articulo-->
<div class="modal fade" id="modalModificarPrecioCompetenciaArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Precio de la Competencia</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<!-- linea 2 -->
					<div class="col-md-6 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="Ingrese No. Aporte" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-4 text-center">
						<label for="inputCompetencia" class="form-label fw-bold  ">Nombre Competencia</label>
						<input type="text" class="form-control " id="inputCompetencia" placeholder="Ingrese Nombre de la Competencia" value="COMANDATO">
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">Precio Contado</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="9,999.99" value="1,547.46">
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Modificar Margen Minimo por articulo-->
<div class="modal fade" id="modalModificarMargenMinimoArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar Margen Minimo por articulo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<!-- linea 2 -->
					<div class="col-md-4 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputMargenContado" class="form-label fw-bold  ">% Contado</label>
						<input type="text" class="form-control " id="inputMargenContado" placeholder="99.99 %" value="">
					</div>
					<div class="col-md-2 text-center">
						<label for="inputMargenTC" class="form-label fw-bold  ">% Tarj.Cr</label>
						<input type="text" class="form-control " id="inputMargenTC" placeholder="99.99 %" value="">
					</div>
	  
					<div class="col-md-2 text-center">
						<label for="inputMargenCredito" class="form-label fw-bold  ">% Crédito</label>
						<input type="text" class="form-control " id="inputMargenCredito" placeholder="99.99 %" value="">
					</div>

					<div class="col-md-2 text-center">
						<label for="inputMargenIgualar" class="form-label fw-bold  ">% Igualar</label>
						<input type="text" class="form-control " id="inputMargenTC" placeholder="99.99 %" value="">
					</div>

				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>


<!--MODALES PARA ELIMINAR-->
<!-- Modal Eliminar Grupo de Almacenes-->
<div class="modal fade" id="modalEliminarGrupo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Grupo de Almacen</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="inputDescripcion" class="form-label fw-bold  ">Nombre del Grupo</label>
						<input type="text" class="form-control " id="inputDescripcion" placeholder="Ingrese Nombre" disabled>
					</div>
	  
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Quitar un almacen al Grupo-->
<div class="modal fade" id="modalEliminarAlmacen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Quitar Almacen al Grupo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<!-- Selector de tipo de Promocion -->
				<div class="row g-1 border-bottom">
					<div class="col">
						<div class="input-group input-group-sm mb-1">
							<label class="input-group-text" for="inputGroupSelectGrupo">Almacen</label>
							<select class="form-select" id="inputGroupSelectGrupo" disabled>
								<option value="1">Riocentro Sur</option>
								<option value="2">La Prosperina</option>
								<option value="3">Duran</option>
								<option value="4" selected>Mall del Sol</option>
							</select>
						</div>
					</div>
				</div>
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Añadir Medio Pago-->
<div class="modal fade" id="modalEliminaMedioPago" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar MedioPago</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-12 text-center">
						<label for="inputDescripcion" class="form-label fw-bold  ">Nombre Medio Pago</label>
						<input type="text" class="form-control " id="inputDescripcion" placeholder="Ingrese Nombre" disabled>
					</div>
	  
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Grabar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Eliminar aporte marca-->
<div class="modal fade" id="modalEliminarAporteMarca" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Aporte por Marca</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-8 text-center">
						<label for="inputGroupSelectMarca" class="form-label fw-bold  ">Marca</label>
						<select class="form-select" id="inputGroupSelectMarca" disabled>
							<option value="1" selected>SONY</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
					<div class="col-md-4 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No.Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2" disabled>
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Eliminar aporte Marca/Proveedor-->
<div class="modal fade" id="modalEliminarAporteMarcaProveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Aporte por Marca/Proveedor</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<div class="col-md-4 text-center">
						<label for="inputGroupSelectMarca" class="form-label fw-bold  ">Marca</label>
						<select class="form-select" id="inputGroupSelectMarca" disabled>
							<option value="1" selected>SONY</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
							  
					<div class="col-md-6 text-center">
						<label for="inputGroupSelectProveedor" class="form-label fw-bold  ">Proveedor</label>
						<select class="form-select" id="inputGroupSelectproveedor" disabled>
							<option value="09190007510001" selected>ALMACENES JUAN ELJURI CIA. LTDA</option>
							<option value="2">MABE</option>
							<option value="3">HP</option>
							<option value="4">Samsumg</option>
						</select>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No.Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2" disabled>
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Eliminar aporte propio por articulo-->
<div class="modal fade" id="modalEliminarAportePropioArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Aporte Propio por Articulo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
							 
									  
					<!-- linea 1 -->
					<div class="col-md-10 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="Ingrese No. Aporte" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">No. Aporte</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="Ingrese No. Aporte" value="2" disabled>
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Elimnar precio de competencia por articulo-->
<div class="modal fade" id="modalEliminarPrecioCompetenciaArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Precio de la Competencia</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<!-- linea 2 -->
					<div class="col-md-6 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="Ingrese No. Aporte" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-4 text-center">
						<label for="inputCompetencia" class="form-label fw-bold  ">Nombre Competencia</label>
						<input type="text" class="form-control " id="inputCompetencia" placeholder="Ingrese Nombre de la Competencia" value="COMANDATO" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputNumAporte" class="form-label fw-bold  ">Precio Contado</label>
						<input type="text" class="form-control " id="inputNumAporte" placeholder="9,999.99" value="1,547.46" disabled>
					</div>
	  
				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>

<!-- Modal Eliminar Margen Minimo por articulo-->
<div class="modal fade" id="modalEliminarMargenMinimoArticulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Margen Minimo por articulo</h1>
					
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
					
					
				<form class="row g-1 ">
									  
					<!-- linea 1 -->
					<!-- linea 2 -->
					<div class="col-md-4 text-center">
						<label for="inputArticulo" class="form-label fw-bold  ">Articulo</label>
						<input type="text" class="form-control " id="inputArticulo" placeholder="" value="10203040-TV 65 Pulgadas Smart SONY 4k" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputMargenContado" class="form-label fw-bold  ">% Contado</label>
						<input type="text" class="form-control " id="inputMargenContado" placeholder="99.99 %" value="" disabled>
					</div>
					<div class="col-md-2 text-center">
						<label for="inputMargenTC" class="form-label fw-bold  ">% Tarj.Cr</label>
						<input type="text" class="form-control " id="inputMargenTC" placeholder="99.99 %" value="" disabled>
					</div>
	  
					<div class="col-md-2 text-center">
						<label for="inputMargenCredito" class="form-label fw-bold  ">% Crédito</label>
						<input type="text" class="form-control " id="inputMargenCredito" placeholder="99.99 %" value="" disabled>
					</div>

					<div class="col-md-2 text-center">
						<label for="inputMargenIgualar" class="form-label fw-bold  ">% Igualar</label>
						<input type="text" class="form-control " id="inputMargenTC" placeholder="99.99 %" value="" disabled>
					</div>

				</form>
					
									
						
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Eliminar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					
			</div>
		</div>
	</div>
</div>