
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

/* 1. TÍTULO ROJO Y CENTRADO */
.tabla-titulo-rojo th {
    background-color: #CC0000 !important; /* Rojo (forzado) */
    color: white !important;
    font-weight: bold;
    text-align: center !important; /* Centrado (forzado) */
    padding: 8px !important;
    font-size: 1rem !important;
    border: none !important;
}
/* Autor: JEAN FRANCOIS CALDERON VEAS | Empresa: BMTECSA | Proyecto: SOFTWARE APL */